{% extends "base.html" %}
{% block title %} Registrar novo modelo {% endblock %}
{% block content %}
<div class="container justify-content-center shadow p-3 mb-5 bg-white rounded">
    <p class="title_form">Registrar novo modelo:</p>
    <form action="" method="post">
        <div class="row">
            <div class="col-lg-3">
                <label for="">Nome:</label>
                <input class="form-control" type="text"></input>
            </div>
            <div class="col-lg-3">
                <label for="inputEstado">Tipo:</label>
                <select id="inputEstado" class="form-control">
                    <option selected>Escolher...</option>
                    <option>Água</option>
                    <option>Fogo</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label for="inputEstado">Área demandante:</label>
                <select id="inputEstado" class="form-control">
                    <option selected>Escolher...</option>
                    <option>DGD</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label for="inputEstado">Jornada:</label>
                <select id="inputEstado" class="form-control">
                    <option selected>Escolher...</option>
                    <option>Cavaleiros do zodíaco</option>
                    <option>Super 11</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="inputEstado">Responsável:</label>
                <select id="inputEstado" class="form-control">
                    <option selected>Escolher...</option>
                    <option>Thiago Pereira da Silva</option>
                    <option>Bianca Sartori Abreu</option>
                    <option>...</option>
                </select>
            </div>
            <div class='col-lg-3'>
                <label for="data-pagamento">Data início:</label>
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
            <div class='col-lg-3'>
                <label for="data-pagamento">Data fim:</label>
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
            <div class="col-lg-3">
                <label for="">Dia de recorrência mensal:</label>
                <input class="form-control" type="number" min="1" max="31"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <label for="exampleFormControlTextarea1">Observações:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
            </div>
            <div class="col-lg-3">
                <label for="">Nome do arquivo (base_auxiliar):</label>
                <input class="form-control" type="text" placeholder="nome_arquivo.csv"></input>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-customized btn_bradesco" style="width: 100px;">Salvar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}